{{ partial "header.html" . }}

<div class="container">
    <article class="post-container" itemscope="" itemtype="http://schema.org/BlogPosting">
        {{ partial "post-header.html" . }}

        {{ partial "post-content.html" . }}
        
        <form name="contact" netlify>
        <p>
        <label>Name <input type="text" name="name" /></label>
        </p>
        <p>
        <label>Email <input type="email" name="email" /></label>
        </p>
        <p>
        <button type="submit">Send</button>
        </p>
        </form>

        {{ partial "post-footer.html" . }}

        {{ partial "disqus.html" . }}
    </article>
</div>

{{ partial "footer.html" . }}
